html {
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
}
footer{
    display: block;
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #ffd0d0;
}
